@charset "UTF-8";

@font-face {
    font-family: 'the bold font';
    src: url(../fontes/THE\ BOLD\ FONT\ -\ FREE\ VERSION\ -\ 2023.otf) format(opentype);
}

@font-face {
    font-family:'bubblegum';
    src: url(../fontes/Bubblegum.ttf) format(truetype);
}

@import url('https://fonts.googleapis.com/css2?family=Phudu:wght@300..900&display=swap');

:root{
    --theboldfont: 'the bold font', Arial, sans-serif;
    --sweetcherry: 'sweet cherry', fantasy, sans-serif; 
    --bubblegum: 'bubblegum', Arial;
}


*{
    margin: 0px;
}

/*Configuracoes*/

body{
    background-color: #7e6d48;
}

header{
    background-color: #605C4E;
    padding-bottom: 10px;
    padding-top: 20px;
    text-align: center;
}

header > h1{
    border-radius: 10px;
    padding: 20px;
    width: 600px;
    background-color: rgb(252, 212, 83);
    letter-spacing: 5px;
    font-weight: bold;
    color: rgb(255, 255, 255);
    text-shadow: -1px 1px 2px rgb(0, 0, 0);
    font-size: 5em;
    font-family: var(--sweetcherry);
    margin: auto;
    margin-bottom:;
}

header > p{
    font-family: var(--theboldfont);
    color: rgb(228, 124, 40);
    font-size: 25px;
    background-color: rgb(255, 255, 255);
    border-radius: 0 0 10px 10px;
    width: 500px;
    height: 60px;
    margin: auto;
    padding-top: 30px;
}


.lista > p{
    font-family: 'bubblegum';
    color: #f7d748;
    text-shadow: 1px 1px 1px black;
    font-size: 3em;
    text-align: center;
    line-height: 2em;
    padding-top: 30px;
    margin-bottom: -20px;
}


.cafe{
background-color: black;
position: relative;
display: inline-block;
display: flex;
margin: -30% 100%;
}
