@charset "UTF-8";

@font-face {
    font-family: 'the bold font';
    src: url(../fontes/THE\ BOLD\ FONT\ -\ FREE\ VERSION\ -\ 2023.otf) format(opentype);

    font-family: 'crunch';
    src: url(../fontes/Crunch\ Chips.otf) format(opentype);

    font-family: 'sweet cherry';
    src: url(../fontes/Sweet\ Cherry.otf) format(opentype);
}

:root{
    --theboldfont: 'the bold font', Arial, sans-serif;
    --crunch: 'crunch' Arial, sans-serif;
    --sweetcherry: 'sweet cherry', fantasy, sans-serif; 
}


*{
    margin: 0px;
}

/*Configuracoes*/

body{
    background-color: #CBA363;
}

header{
    background-color: #9C7D4F;
    padding-bottom: 90px;
    padding-top: 90px;
    text-align: center;
}

header > h1{
    font-family: var(--sweetcherry);
}

header > p{
    font-family: var(--theboldfont);
}

.lista {
    background-color: white;
    width: 400px;
    margin: auto;
    height: 500px;
    background-attachment: fixed;
    
    
}

.lista > p{
    font-family: var(--crunch);
    justify-content: center;
    padding: 10px;
    text-align: center;
    padding-top: 70px;
    margin-bottom: -40px;
}


.cafe{
background-color: black;
position: relative;
display: inline-block;
display: flex;
margin: -30% 100%;
}
